<%- include('includes/head.ejs') %>
    <h1 id="principal">Este sitio es de TOP's</h1>
    <br>
    <h2>Para ingresar al sitio, introduce tus datos de acceso:</h2>
    <form action="/users/login" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <label for="username">Nombre de usuario: </label>
        <input type="text" id="username" name="username" placeholder="Pedro">
        <br><br>
        <label for="password">Contraseña: </label>
        <input type="password" id="password" name="password">
        <br><br>
        <input type="submit" value="Enviar">
    </form>
</div>
<%- include('includes/foot.ejs') %>